<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>My Presentation</title>
</head>
<body>
    <section class="header">
        <div>
            <img class="profile-image" src="/static/017.jpg" alt="Logo">
            <h1>The name is Mart</h1>
        </div>
    </section>
    <section class="content-section">
        <div class="content-block">
            <h2>About Me</h2>
            <p>Hobby developer with a big cybersecurity intresst.</p>
        </div>
        <div class="content-block">
            <h2>My Goals</h2>
            <p>Personal goals for the moment are finding an intresting projects which helps me developing my skills.</p>
        </div>
        <div class="content-block">
            <h2>My Skills</h2>
            <p>Confident working with Python, Java and C++.</p>
        </div>
    </section>
    <section class="contact">
        <div>
            <h2>Contact Me</h2>
            <p>If you need help don't hesitate to contct me. </p>
            <p>Email: Mart@yahoo.com</p>
            <p>Phone: +1 369 4351673</p>
        </div>
    </section>
</body>
</html>