<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>
</head>
<body>
    <h1>Log in</h1>
    <p>Please sign in with a username and password.</p>
    <form method="post" action="/log_in_page">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="submit">
    </form>
    <div> {{ message }}</div>
    
</body>
</html>